* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Raleway', sans-serif;


  padding: 0;
  margin: 0;

  background-color: #392061;

  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  height: 100vh;
  width: 100vw;

  color: white;

  background-color: #392061;
  background-image: url('./pics/tarot-deck.jpeg');
  background-size:cover;
  background-position: fixed;
}

h1 {
  z-index: 0;
  text-align: center;
  position: absolute;

  background-color: rgba(0, 0, 0, 0.3);

  padding: 40vh 25%;;
  height: 100%;
  width: 100%;
}

main {
  z-index: 5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  margin: 3rem 1rem;
  border: none;
  border-radius: 20px;

  background-color: #f7d260;
}

.card-wrapper {
  z-index: 5;
  display: flex;
  flex-direction: row;
  align-items: center;

  overflow-x: scroll;
  scroll-snap-type: x proximity;

  padding: 0 2rem;
  height: 100%;
  width: 100%;

  background-color: #f7d260;
}

.card-wrapper::-webkit-scrollbar {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 75vh;
  width: 30vw;
  padding: 0 1rem;
  margin: 1rem 2rem;
}

.image {
  height: 350px;
  width: 230px;

  border: none;
  border-radius: 20px;
  background-image: none;
  background: center;
  background-repeat: no-repeat;

  background-color: white;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#btn {
  font-size: 1.2rem;

  max-width: 20rem;
  padding: 1rem 2rem;
  margin: 2rem;

  border: none;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#btn:hover {
  cursor: pointer;
}

#btn:active {
  transform: scale(0.9);
}

.name {
  text-align: center;
}

.image.reverse-image {
  -webkit-transform: scaleY(-1);
}

.name.reverse-name:after {
  content: ' - Reversed';
}

.name:after {
  content: '';
}

.text.reverse-text:before {
  content: 'The Absence or Negation of: ';
}

.text {
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 1.8;
  height: 20vh;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .card {
    width: 80vw;
    scroll-snap-type: x proximity;
  }
}
